.container {
    display: grid;
    height: 300vh;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 12% 30% 25% 23% 10%;
    grid-template-areas: "nav nav" "sidebar main" "sidebar content1" "content2 content3" "footer footer";
    grid-gap: 0.15rem;
}

nav {
    background: #333;
    grid-area: nav;
}

span {
    color: rgb(86, 185, 117);
    /* font-weight: bold; */
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

main {
    background: rgb(195, 193, 199);
    grid-area: main;
    line-height: 50px;
}

#sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgb(195, 193, 199);
    grid-area: sidebar;
    justify-content: space-evenly;
}

.archive {
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    padding-right: 20px;
}

.gallery {
    width: 100%;
    line-height: 50px;
}

#content1 {
    background: rgb(195, 193, 199);
    grid-area: content1;
}

#content2 {
    background: rgb(195, 193, 199);
    grid-area: content2;
}

#content3 {
    background: rgb(195, 193, 199);
    grid-area: content3;
}

footer {
    background: rgb(64, 62, 219);
    grid-area: footer;
    /* text-decoration: underline; */
    padding-top: 20px;
    line-height: 50px;
}